.site-header {
    border-top: 5px solid #ad4e70 !important;
}

.wrapper .site-title{
    color: #ad4e70;
}

h3, h4{
    margin-bottom: 0 !important;
    margin-top: 10px !important;
}

h3{
    color: #ad4e70;
}

h4{
    color: #d76b69;
}

.destaque{
    color: #d76b69;
}